body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.action {
  .btn-action {
    float: right;
  }

  .search {
    float: left;
    width: 30%;
  }

  a {
    text-decoration: none;
    color: white
  }

  a:hover {
    color: white;
  }
}

table th,
td {
  vertical-align: middle;
  text-align: center;
}

td {
  max-width: 100px;
}

.sort {
  float: right;
  cursor: pointer;
}

.loginPage {

  h3 {
    text-align: center;
  }

  button {
    width: 100%;
  }

  .inputPass {
    position: relative;

    .eyePass {
      position: absolute;
      right: 8px;
      top: 5px;
      cursor: pointer;
    }
  }
}

.detail {
  cursor: pointer;
}

.avatar {
  width: 100%;
  border-radius: 50%;
}